.modules-container {
    background-image: url("../img/modules-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.link-d, .link-d:hover {
    text-decoration: inherit;
    color: inherit;

    margin: 0 3.75rem;
}

.module-button {
    width: 530px;
    height: 116px;    
    border-radius: 73px;
}

.module-button.green {
    background: #B8BF60;
    box-shadow: 10px 10px 30px rgba(129, 140, 0, 0.3);
}

.module-button.yellow {
    background: #F0D078;
    box-shadow: 10px 10px 40px rgba(217, 167, 33, 0.3);
}

.module-info {
    width: 400px;
    text-align: center;
    padding: 0 25px;
}

.module-info .title {
    font-family: "Roboto";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: bold;

    color: #323232;
}

.progress-container {
    width: 125px;
    height: 125px;
    box-shadow: 1px 4px 40px rgba(74, 0, 127, 0.3);
    border-radius: 125px;
}

/* .bar-l {
    position: relative;
    margin-top: 80px;
    right: 15px;
}

.bar-r {
    position: relative;
    margin-top: 80px;
    left: 15px;
} */

.ontop {
    z-index: 99;
}