.link-d, .link-d:hover {
    text-decoration: inherit;
    color: inherit;
}

.module-button {
    width: 530px;
    height: 116px;

    margin: 0 60px;

    background: #DEDEDE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 73px;
}

.module-info {
    width: 400px;
    text-align: center;
    padding: 0 25px;
}

.module-info .title {
    font-family: "Roboto";
    font-size: 1.625rem;
    font-style: normal;
    font-weight: bold;

    color: #323232;
}

.module-number-outer {
    width: 125px;
    height: 125px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 125px;
}

.bar-l {
    position: relative;
    margin-top: 80px;
    right: 15px;
}

.bar-r {
    position: relative;
    margin-top: 80px;
    left: 15px;
}

.ontop {
    z-index: 99;
}