.badge-container {
    position: absolute;
    width: 110px;
    height: 560px;
    /* height: auto; */
    /* min-height: 560px; */
    left: 35px;
    top: 232px;

    background: #BFD5FF;
    border-radius: 38px;

    padding: 1rem;
    flex-direction: column;
    
    /* margin: auto 0;
    top: 0; bottom: 0; right: 0; */
    
}

.module-badge {
    width: 78px;
    height: 78px;
    border-radius: 78px;

    margin: 5px 0;
}

.badge-inactive {    
    background-color: darkgray;
    border-color: darkgray;
}
.badge-inactive:hover {
    background-color: gray;
    border-color: gray;
}

